.llenar {
  width: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  background-color: rgb(255, 255, 255);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.inicio {
  position: relative;
  width: 250px;
  height: 200px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #03b3f3bb;
  border: 1px solid #03b3f3bb;
  padding: 10px 10px 10px 10px;
  text-align: left;
  left: 10%;
  top: 15%;
}


.submit {
  position: relative;
  width: 50%;
  height: 20%;
  background-color: rgb(74, 74, 255);
  border: 1px solid #CCC;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 20%;
  box-shadow: 0 10px #999;
}

.sumit:hover {
  background-color: #91bdff;
}

.button:active {
  background-color: #91bdff;
  box-shadow: 0 5px #999;
  transform: translateY(5px);
}

label1 {
  color: white;
  padding: 8px;
}
